/****** Script para el comando SelectTopNRows de SSMS  ******/
SELECT [idMovimiento]
      ,[FechaAlta]
      ,[Superficie]
      ,[PrecioVenta]
      ,[FechaVenta]
      ,[idVendedor]
      ,[idProvincia]
      ,[idOperacion]
      ,[idTipoInmueble]
  FROM [BD_INMOVILIARIA].[dbo].[MovimientoEmpresa]